In [ ]:
conda install -c conda-forge opencv

In [1]:
# Analyzing, cleaning, exploring data
import pandas as pd 
from pandas import DataFrame
import re
import glob


# Performing math operations on arrays and other structures.
import numpy as np

# Visualizing data
import matplotlib.pyplot as plt 

from sklearn.preprocessing import LabelEncoder

import pywt


from sklearn.model_selection import train_test_split

## Importing data and extracting to a dataframe

In [ ]:

new_list2 = []

columns = ['Timestamp', 'El1', 'El2', 'El3','El4', 'El5', 'El6','El7', 'El8']


# Specify the folder path where the CSV files are located
folder_path = "first_try/"

# Get a list of all CSV files in the folder
file_list = glob.glob(folder_path + "*.csv")

# Create an empty list to store the data from each CSV file
dataframes = []
total_num_rows = 0  # Variable to store the total number of rows
extracted_strings = []


# Loop through each CSV file, read it into a DataFrame, and append it to the list
for file in file_list:
    df = pd.read_csv(file, names=columns)
    num_rows = df.shape[0]
    
    file_name = file.split("/")[-1]  # Extract the file name from the file path
    extracted_string = re.search(r'-(.*?)-', file_name).group(1)  # Extract the desired string using regex
        
    extracted_strings.extend([extracted_string] * num_rows)
    
    
    extracted_numbers = re.findall(r'\d+', file)[0]

    
    new_list = [extracted_numbers] * num_rows
    new_list2.append(new_list)
    dataframes.append(df)
    
    total_num_rows += num_rows


# Concatenate all DataFrames in the list into a single DataFrame
data = pd.concat(dataframes, ignore_index=True)

new_list2 = [item for sublist in new_list2 for item in sublist]  # Flatten the nested list

In [ ]:
data

In [ ]:
le = LabelEncoder()
data['encoded_column'] = le.fit_transform(data['Gesture'])

In [ ]:
data

In [ ]:
target =

In [ ]:
data.Gesture.value_counts()

In [ ]:
data.Gesture.value_counts()

In [ ]:
data.encoded_column.value_counts()

## Data Cleaning

In [ ]:
data.describe(include="all")

In [ ]:
hist = data.hist(figsize=(16, 8))

In [ ]:
print(df.iloc[0, 0+1])

In [ ]:
print(df)

In [32]:
truncated_data = []
new_list2 = []
dataframes = []
total_num_rows = 0  # Variable to store the total number of rows
extracted_strings = []

gesture_list = []

# Specify the folder path where the CSV files are located
folder_path = "Test2/"

columns = ['Timestamp', 'El1', 'El2', 'El3','El4', 'El5', 'El6','El7', 'El8']


# Get a list of all CSV files in the folder
file_list = glob.glob(folder_path + "*.csv")

for file in file_list:
    df = pd.read_csv(file, names=columns)
    
    # Truncate the DataFrame to 200 rows
    truncated_df = df[:150]
    
    # Add the truncated DataFrame to the list
    truncated_data.append(truncated_df)
    num_rows = 200
    
    file_name = file.split("/")[-1]  # Extract the file name from the file path
    gesture = re.search(r'-(.*?)-', file_name).group(1)  # Extract the desired string using regex
        
    gesture_list.extend([gesture])
    
    extracted_strings.extend([gesture] * num_rows)
    
    
    extracted_numbers = re.findall(r'\d+', file)[0]

    
    new_list = [extracted_numbers] * num_rows
    new_list2.append(new_list)
    dataframes.append(df)
    
    total_num_rows += num_rows
        
    
    

combined_df = pd.concat(truncated_data, ignore_index=False)
new_list2 = [item for sublist in new_list2 for item in sublist]  # Flatten the nested list

In [33]:
gesture_list

['grasp',
 'grasp',
 'grasp',
 'grasp',
 'grasp',
 'tripod',
 'tripod',
 'close',
 'close',
 'tripod',
 'grasp',
 'grasp',
 'open',
 'lateral',
 'close',
 'close',
 'close',
 'close',
 'close',
 'lateral']

In [34]:
#combined_df["P_ID"] = new_list2
#combined_df["Gesture"] = extracted_strings

In [35]:
#target = combined_df["Gesture"].copy()
#combined_df =combined_df.drop('Gesture', axis= 1)

In [36]:
combined_df

         Timestamp  El1  El2  El3  El4  El5  El6  El7  El8
0    1643730630270   30   41   97   90  106  266  193   47
1    1643730630271   30   41   97   90  106  266  193   47
2    1643730630397   32   46   88   92  108  273  204   48
3    1643730630523   33   47   88   93  101  261  177   46
4    1643730630524   33   47   88   93  101  261  177   46
..             ...  ...  ...  ...  ...  ...  ...  ...  ...
195  1643730269759   26   74  146   92  171  196  114   36
196  1643730269764   26   75  150  100  177  177  110   36
197  1643730269770   28   52  122   91  168  155   95   37
198  1643730269775   28   53  124   86  160  151   95   36
199  1643730269781   27   57  116  104  184  164   84   33

[3954 rows x 9 columns]

In [37]:
df = combined_df.copy()

In [38]:

# Define the parameters
scales = np.arange(1, 128)
waveletname = "morl"
num_rows = 200
num_columns = 8


# Extract the electrode readings columns
data = df.iloc[:, 1:].values  # Exclude the timestamp column

# Reshape the data into 3D array (number of samples, number of rows, number of columns)
data = data.reshape(-1, num_rows, num_columns)

# Apply continuous wavelet transform to each sample
transformed_data = []


for sample in data:
    transformed_sample = []
    for channel in sample.T:  # Transpose to loop over columns (channels)
        coeff, _ = pywt.cwt(channel, scales, waveletname, 1)
        transformed_sample.append(coeff)
    transformed_data.append(np.array(transformed_sample))

# Convert the transformed data into a numpy array
transformed_data = np.array(transformed_data)

ValueError: cannot reshape array of size 31632 into shape (200,8)

In [39]:
transformed_data.shape[0]

24

In [ ]:
reshaped_data = transformed_data.transpose((0, 3, 2, 1))

In [ ]:
# 24 files - signals
# 200 rows 
# 127 coefficients for each row
# 8 channels - columns
print(reshaped_data.shape)

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(reshaped_data, gesture_list, test_size=0.2, random_state=42)

In [ ]:
X_train.shape[0]